.principal-productos{
    color: white;
    text-align: center;
    background-color: rgb(48, 48, 48);
    // padding: 15px;
    // font-size: 25px;
    letter-spacing: 20px;
    font-weight: bold;
    width: 100%;
}
.banner-producto{
    max-width: 100%;
}
.titulo-producto{
    height: auto;
    width: 100%;
}
.titulo-elipsis{
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .descripcion-producto{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.ant-col{
    width: 300px;
}
.size-col-prin{
    min-width: 480px;
}
.size-col-frente{
    min-width: 270px;
}

.contenedor-card-producto-principal{
    cursor: pointer;
    box-shadow: none;
}
.contenedor-imagen-oferta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-card-producto-principal:hover .titulo-elipsis{
    height: 118px;
    transition-duration: .2s;
    transition-delay: .4s;
    /* transition: ease-out .2s; */
}
//contendores de productos del frente
.contenedor-imagen-producto-principal{
    height: 230px; 
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-producto-principal{
    max-width: 100%;
    max-height: 100%;
}

//contendores de productos 
.contenedor-imagen-principal{
    height: 264px; 
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-principal{
    max-width: 100%;
    max-height: 100%;
}
// .rebajado{
//     font-size: 15px;
// }
.contenedor-titulos-productos > p {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 10%;
}
.contenedor-precios-productos > h2 {
    padding-left: 8%;
    // font-size: 15px;
}
.contenedor-precios-productos > h3 {
    padding-top: 2%;
    padding-left: 10%;
    // font-size: 22px;
}
.contenedor-precios-productos > p {
    padding-left: 10%;
    // font-size: 15px!important;
}
.description{
    padding-left: 10%;
}
@media(max-width: 768px){
    .titulo-elipsis{
        width: auto;
    }
    .titulo-producto{
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 2%;
    }
    .contenedor-imagen-producto-principal{
        height: 250px; 
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .size-col{
        min-width: 170px;
    }
    .contenedor-imagen-principal{
        height: 200px; 
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .size-col-prin{
        min-width: 360px;
    }
    .contenedor-titulos-productos > p {
        
        font-size: 20px;
        height: 100px;
    }
}

//CARD DE PRODUCTOS DEL FRENTE

.frente-bajo > .ant-card-body{
    border-bottom-left-radius: 13px!important;
    border-bottom-right-radius: 13px!important;
}
.frente{
    border-radius: 13px!important;
}
.oferta-frente{
    top: 15px;
    left: 15px;
}
.oferta-frente{
    position: absolute;
}
.oferta-frente > h5{
    background-color: rgb(255, 210, 62);
    color: rgb(255, 0, 0);
    width: 85px;
    margin: 0;
}
.oferta-frente > p{
    font-weight: bold;
    font-size: 18px;
    color: rgb(238, 155, 0);
    width: 45px;
}
@media(max-width: 1440px){
    .size-col-frente{
        min-width: 255px;
        padding: 6px!important;
    }
}