.categorias-navbar{
    /* height: 40px; */
    display: flex; 
    border: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.divisor{
    border-right: 3px solid #e28000;
    height: 30px;
}
.spin-nav-categorias{
    width: 20px;
}

.size-layout-cat{
    height: 30px;
}
.size-menu-cat{
    height: 100%;
    line-height: normal;
}
.size-submenu-cat{
   height: 100%;
}
.size-submenu-cat > .ant-menu-submenu-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.size-submenu-cat > .ant-menu-submenu-title {
    font-weight: 300;
}


