// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

$color-blog: rgb(255, 255, 255);

/* NAVBAR VARIABLES */
/* $bg-color-navbar: #B11F24; */
$bg-color-navbar:  #e28000;
$bg-color-navbar-active: #ffffff;
$border-color-active: #ffc340;
/* $border-color-navbar: #B11F24; */
$font-color-navbar: #000000;
$font-color-navbar-hover: #ffc340;
$font-color-navbar-active: #ffffff;

/* NAVBAR CATEGORIAS VARIABLES */
$bg-color-navbar-categorias:  #ffffff;
$font-color-navbar-categorias: #000000;
$font-color-navbar-categorias-hover: #ffc340;
$font-color-hover-categoria: #ffd270;

//MINI BANNER SOBRE FOOTER
$bg-color-banner: #ff9800;
$bg-color-font-banner:  rgb(255, 255, 255);

//VARIABLE DE BUSCADOR-SEARCH
$bg-color-search: #e28000;
$bg-color-search-hover:#ffc340;

/* CARDS VARIABLES */
$bg-color-cards-productos:  #ffffff;

/* SPINER VARIABLES */
$color-spiner: #e28000;

/* BUTTONS VARIABLES */
$color-botones: #ff9800;
$color-botones-hover: #ffc340;
$color-botones-font:  #F7F7F7;
$color-botones-secundario: #ffed6b;
$color-botones-secundario-text: #000000;
$color-botones-secundario-border: #ff9800;
$color-botones-sec-hover: #f8f8f8;

/* STEPS VARIABLES */
$bg-color-steps: #ff9800;
$font-color-steps-inactive: #ffff;
$bg-color-steps-active: #ff9800;
$border-color-steps: #3D3D3D;

/* TABS VARIABLES */
$color-tabs: #ff9800;
$color-tabs-hover: #ffc340;
$color-tabs-border: #3D3D3D;

$bg-color-tags: #F5F5F5;

/* FOOTER VARIABLES */
$bg-color-footer: #3D3D3D;
$font-color-footer: rgb(255, 255, 255);
$font-color-footer-hover: #ff9800;

/* BACKGROUND LAYOUT */
$bg-layout: #ffffff;

/* FONT FAMILY STYLES */
h1, h2, h3, h4, h5, h6{
    /* font-family: 'Roboto', sans-serif; */
    // font-family: 'Montserrat', sans-serif;
    font-family: Helvetica;
    font-weight: 400;
}
p, a, li{
    /* font-family: 'Roboto', sans-serif; */
    // font-family: 'Montserrat', sans-serif;
    font-family: Helvetica;
    font-weight: 400; 
}

/* LAYOUT */
/* .bg-layout{
    background-color: $bg-layout;
}
 */
/* NAVBAR STYLES */
/* .navbar-menu-general{
    background-color: $bg-color-navbar-categorias;
} */
.navbar-menu-draw{
    background-color: $bg-color-navbar-categorias;
}
.navbar-menu-sesion{
    border-bottom:  none;
}
/* .navbar-menu-sesion > .ant-menu-item-selected {
    color: $bg-color-navbar!important;
    border-bottom:  solid #e28000!important;
} */
/* .navbar-menu-general > .ant-menu-item-selected{
    background-color: $bg-color-navbar-active!important;
} */
// VARIABLE DE FOND0 DE NAVBAR
/* .ant-layout-header{
    background-color: $bg-color-navbar-categorias;
} */

.drawer-background .ant-drawer-body{
    background-color: $bg-color-navbar-categorias;
    border-color: #e28000;
}
.drawer-background .ant-drawer-header{
    background-color: $bg-color-navbar-categorias;
    border-color: #e28000;
}
/* .nav-font-color{
    color: $font-color-navbar;
}  */
/* .nav-font-color:hover{
    color: $font-color-navbar-hover!important;
    border-bottom: 3px solid $border-color-active!important;
} */
/* .nav-font-color-sesion:hover{
    color: $bg-color-navbar!important;
    border-bottom: 3px solid #e28000!important;
} */
.menu-responsivo-icon{
    color: $font-color-navbar;
}


/* NAVBAR CATEGORIAS STYLES */
/* .categorias-navbar{
    background-color: $bg-color-navbar-categorias;
} */
.categorias-navbar .ant-menu-submenu-title{
    color: $font-color-navbar-categorias!important;
    font-weight: bold!important;
}
.categorias-navbar > .ant-menu-submenu-selected{
    color: $font-color-navbar-categorias!important;
}
.container-subcategorias-nav{
    background-color: $bg-color-navbar-categorias;
    // border-bottom: solid $bg-color-navbar-categorias;
    // border-top: solid $bg-color-navbar-categorias;
}
.nav-font-color-categorias{
    font-weight: bold;
    color: $font-color-navbar-categorias;
    border-bottom: none!important;
} 
/* .nav-font-color-categorias:hover{
    color: $font-color-navbar-categorias-hover!important;
} */
/* .nav-font-color-categorias::before{
    color: $font-color-navbar-categorias-hover!important;
} */
/* .container-subcategorias-nav > .ant-menu-submenu-title:hover{
    color: $font-color-navbar-categorias-hover!important;
} */

//BORDER DE BUSCADOR
.border-color-search-boton{
    border: 2.5px solid $bg-color-search;
    border-left: none;
}
.border-color-search-input{
    border: 2.5px solid $bg-color-search;
}
.border-color-search:hover{
    border: 2.5px solid $bg-color-search-hover;
}

//COLOR DE BORDES DE LAS CARDS
.contenedor-card-producto-principal, .contenedor-card-producto-secundario, .contenedor-card-oferta-gigante, .item-menu-paginas{
    border-right: 1px solid #e0e0e0;
}

/* SEPARADORES */

/* @media(max-width: 768px){
    .textos-home > h2 {
        font-size: 15px;
    }
    .textos-home > p {
        font-size: 10px;
    }
} */

/* CARDS */
.contenedor-card-body > .ant-card-body{
    padding: 0px!important;
   /*  background-color: $bg-color-cards-productos;  */
    min-height: 90px;
}

.mini-contenedor-card-body > .ant-card-body{
    min-height: 90px;
    width: auto;
}
.color-contenedor-oferta-especial{
    border: 3px solid $bg-color-navbar;
}

/* SPINER */
.spiner .ant-spin-dot-item{
    background-color: $color-spiner;
}
.spiner{
    color: $color-spiner;
    font-family: 'Montserrat', sans-serif;
}

/* BUTTONS */
.color-boton{
    background-color: $color-botones;
    border-color: $color-botones;
    color: $color-botones-font!important;
}
.color-boton:hover{
    background-color: $color-botones-hover;
    border-color: $color-botones;
}
.color-boton:focus{
    background-color: $color-botones-hover;
    border-color: $color-botones;
}

//BUTTONS SECUNDARIOS
.color-boton-sec{
    background-color: $color-botones-secundario!important;
    border-color: $color-botones-secundario-border!important;
    color: $color-botones-secundario-text!important;

}
.color-boton-sec:hover{
    background-color:  $color-botones-sec-hover;
    border-color: $color-botones-sec-hover;
}
.color-boton-sec:focus{
    background-color:  $color-botones-sec-hover;
    border-color: $color-botones-sec-hover;
}

//SOLO FUENTES
.color-fonts{
    color: $color-botones!important;
}
.color-fonts:hover{
    color: $border-color-active;
}

// COLOR DE TAGS
.color-tags{
    background-color: $bg-color-tags;
}
.color-border-tags{
    border: 1px solid $border-color-active;
}


//ICONOS DE AVANCES
.steps-colors .ant-steps-item-icon{
    background-color:  $bg-color-steps;
    border-color: $border-color-steps;
    
}
.steps-colors .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
    background-color:  $bg-color-steps-active;
}
.steps-colors .ant-steps-icon{
    color: $font-color-steps-inactive!important;

}
.steps-colors .ant-steps-item-title::after{
    border-color:  $bg-color-steps-active!important;
    background-color:  $bg-color-steps-active!important;
}


/* TABS */
.tabs-colors .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: $color-tabs;
}

.tabs-colors .ant-tabs-tab:hover{
    color: $color-tabs;
}
.tabs-colors .ant-tabs-ink-bar{
    background-color: $color-tabs-border!important;
}


/*  FOOTER STYLES */
.bg-footer{
    background-color: $bg-color-footer;
}
.footer-font-color {
    color: $font-color-footer;
}
.footer-font-color:hover {
    color: $font-color-footer;
}
.footer-border {
    border-color: $font-color-footer;
}

.info-recomended-sizes{
    width: 50%;
}

// G A L E R I A
.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus{
    border: .5px solid $bg-color-navbar;
}


//B L O G S
.list-hover:hover .titulo-blog{
    color: $bg-color-navbar-active!important;
    transition: .3s;
}
.list-hover:hover{
    box-shadow: 0px 0px 13px -2px $bg-color-navbar!important;
    transition: .3s;
}

//BANNER SOBRE FOOTER
.container-mini-banner{
    background-color: $bg-color-banner;
}
.card-informativa{
    color: $bg-color-font-banner;
}


//VARIABLES DE TITULOS GENERALES PARA TODA LA PAGINA

.font-prin{
    font-size: 24px;
    letter-spacing: .9px;
}
.font-secun{
    font-size: 18px;
    letter-spacing: .9px;
}
.font-descrip{
    font-size: 16px;
    letter-spacing: .9px;

}
.font-peque{
    font-size: 14px;
    letter-spacing: .9px;
}
.titulo-producto{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .8px;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 2%;
}

.font-cates{
    font-size: 22px;
    text-transform: uppercase;
    // font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.font-subcates{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    // font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.precio-prin{
    font-size: 30px;
    letter-spacing: .9px;
}

.font-vista-prod{
    font-size: 15px;
    letter-spacing: .9px;
}
.font-boton-vista{
    font-size: 18px;
    letter-spacing: .9px;
    border-radius: 5px;
}

.font-foot{
    font-size: 16px;
    letter-spacing: .9px;
    font-family: 'Courgette', cursive;
}
.font-cat-foot{
    font-size: 15px;
    letter-spacing: .9px;
    text-transform: uppercase;
}
.font-foot-normal{
    font-size: 15px;
    letter-spacing: .9px;
}


.font-carrito{
    font-size: 24px;
    letter-spacing: .9px;
}
.font-sec-car{
    font-size: 18px;
    letter-spacing: .9px;
}
.font-des-car{
    font-size: 15px;
    letter-spacing: .9px;
}


